*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    list-style-type: none;
    text-decoration: none;
    color: #727272;
}

/* image */
img{
    display: block;
    width: 100%;
}
/* container */
.container{
    width: 75%;
    max-width: 1366px;
    margin-inline: auto;
}
/* Typography */
.description-primary{
    color: #727272;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.title-primary{
    color: #131313;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.banner-title{
    color:#131313;
    text-align: center;
    font-family: Work Sans;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.orange-text{
    color: #FF900E;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.fywe-primary{
    color:#131313;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.fywe-information{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.fywe-info{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 30px 0px 30px 30px;
}
/* Buttons */
.btn-primary{
    color: #FFF;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 21px 24px 20px 25px;
    border: none;
    border-radius: 8px;
    background: #FF900E;
    cursor: pointer;
    margin-top: 32px;
}
.nav-btn{
    color:#424242;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px; /* 144.444% */
    
}



/* header style */
header{
    background-color: rgba(255, 144, 14, 0.10);
    padding-bottom: 45px;
}

/* navigation styles*/
.navigation{
    padding-block: 50px;
}
.navigation nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation ul{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

/* banner styles*/
.banner{
    text-align: center;
}

.banner .banner-title,.banner .banner-description{
    max-width: 868px;
    margin-inline: auto;
}


.banner-img{
    margin-top: 50px;
}

/* main section */
.featured{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 85px;
    gap: 73px;
}
.featured-text{
    max-width: 537px;
}
.featured-title{
    color:#727272;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
}
.featured-gallary{
    max-width: 708px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 24px;
}
.featured-image{
    width: 342px;
}
.fywe{
    display: flex;
    justify-content: space-between;
    margin-top: 130px;
    border-radius: 8px;
}
.fywe-text{
    max-width: 586px;
}

.fywe-title{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    color:#131313;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 39px;
}
.fywe-heading > p{
    margin-top: 24px;
    margin-bottom: 30px;
}

@media  screen and (max-width:576px) {
    .navigation nav{
        flex-direction: column;
        gap: 24px;
    }

    .navigation ul{
        flex-direction: column;
        align-items: center;
    }

    .featured{
        flex-direction: column;
    }

    .featured-gallary{
        grid-template-columns: repeat(1,1fr);
    }

    .fywe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fywe-image{
        margin-top: 24px;
    }
}

@media screen and (max-width:767px){
    .navigation nav{
        flex-direction: column;
        gap: 24px;
    }
    .featured{
        flex-direction: column;
    }
    .featured-gallary{
        grid-template-columns: repeat(1,1fr);
    }
    .fywe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fywe-image{
        margin-top: 24px;
    }
}

@media screen and (max-width:992px){
    .navigation nav{
        flex-direction: column;
        gap: 24px;
    }
    .featured{
        flex-direction: column;
    }
    .fywe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fywe-image{
        margin-top: 24px;
    }
    
}
/* @media screen and (max-width:1853px){
    .fywe{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .fywe-image{
        margin-top: 24px;
    }
} */